
<!-- Chart1 1 -->
<div id="row1">
    <div class="row row-align">

        <div class="col-md-6">
            <h4 class="h4-align">Enforcement Reports for Drugs vs Medical Devices vs Foods</h4>

            <canvas id="chart1"style="margin: 0 auto;width:645px;"></canvas>
        </div>

        <div class="col-md-6">
            <h4 class="h4-align">Medical Device Usage Report Based on Year 2010-2014</h4>
            <div id="pie" style="text-align: center"></div>
        </div>

    </div>
</div>
<!-- /. End Chart1 1 -->

<!-- Chart1 2 -->

<div id="row2">
    <div class="row row-align">
        <div class="col-md-12">
            <h4 class="h4-align">Adverse Events Reports for Drugs Indication from 2006 - 2010</h4>
            <canvas id = "chart3"></canvas>
        </div>

    </div>
</div>
<!-- /.End Chart 2 -->

<!-- Chart 3 -->
<div id="row3">
    <div class="row row-align">
        <div class="col-md-11">
            <h4 class="h4-align">Adverse Events Reports for Drugs Reported Reaction from 2006 - 2010</h4>
            <canvas id = "chart4" height="100"></canvas>
        </div>

    </div>
</div>
<!-- /. End Chart 3 -->
    <!--Custom Chart js-->
    <script>
       $.getScript('./web/bundles/fda/js/customchart1.js',function(){
     })
     </script>